# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Unused large raw dataset files
studentInfo.csv
studentRegistration.csv
studentVle.csv
vle.csv